  <div class="agenda-list">
    {% assign curDate = site.time | date: '%s' %}
    {% assign prevCount = 0 %}
    {% assign count = 0 %}
    {% assign globalCount = 0 %}

    {% for item in site.data.agenda %}
    {% assign pageTitle = {{page.title}} %}
    {% if item.titel == pageTitle %}
    {% assign count = count | plus: 1 %}
    {% for date in item.datum | limit: 1 %}
      {% assign postdate = date | date: '%s' %}
      {% if postdate >= curDate %}
      <div class="agenda-item col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <h3>{{item.titel}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-unstyled">
              <li><i class="fa fa-clock-o"></i> {% if item.tijd != null%}{{item.tijd}}{% else %} 09:00 - 17:00 uur{% endif %}{% if item.duur != null %}, {{item.duur}}{%endif%}</li>
              <li><i class="fa fa-map-marker"></i><span class="location">{{item.locatie}}<span></li>
            </ul>
            <ul class="list-unstyled">
              {% for date in item.datum %}
              <li><i class="fa fa-calendar"></i> <span class="date">{{date}}</span></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <a href="#" class="btn btn-primary subscribe" title="{{item.titel}}" data-title="{{item.titel}}" data-date="{% assign countDate = 0 %}{% for date in item.datum %}{% assign countDate = countDate | plus: 1%}{% if countDate > 1 %} + {% endif %}{{date}}{% endfor %}">inschrijven</a>
          </div>
        </div>
      </div>
      {% assign prevCount = count %}
      {% assign globalCount = 1 %}
      {% else %}
      {% assign count = 0 %}
      {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% if count == 0 and globalCount != 1 %}
    <div class="agenda-item col-sm-12">
      <div class="row">
        <div class="col-md-12"><h3>{{page.title}}</a></h3></div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p><small><strong>Opgelet!</strong> {{page.title}} is nog niet opgenomen in de planning. Door in te schrijven wordt u op een wachtlijst geplaatst en op een later tijdstip geïnformeerd over een datum en locatie.</small></p>
        </div>
        <div class="col-md-4">
          <a href="#" class="btn btn-primary subscribe" title="{{page.title}}" data-title="{{page.title}}">inschrijven</a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>