<section class="container-fluid wat-wij-doen">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>Wat wij doen</h2>
        <div class="row">
          <div class="col-xs-12 visible-xs"><img src="/assets/img/brains.png" class="img-responsive"/></div>
        </div>
        <p class="lead">{{content | remove: '<p>' | remove: '</p>'}}</p>
        <p><a href="/onze-aanpak" class="btn btn-primary btn-sm">lees meer</a></p>
      </div>
      <div class="col-sm-4 hidden-xs"><img src="/assets/img/brains.png" class="img-responsive"/></div>
    </div>
  </div>
</section>