{% assign page_active = page.title | downcase | replace: ' ', '-' %}
{% assign page_parent = page.parent | downcase | replace: ' ', '-' %}
<nav class="navbar-wrapper">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand visible-md visible-lg">
          <img src="/assets/img/logo-header.png"/>
        </a>
        <a href="/" class="navbar-brand visible-xs">{{site.data.settings.title}}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        {% for menu in site.data.menu.level1 %}
          {% assign menu_active = menu.title | downcase | replace: ' ', '-' %}
          <li class="{% if page_active == menu_active or page_parent == menu_active %}active{% endif %}{%if menu.class == 'home' %} hidden-sm hidden-md {%endif%}"><a href="{{ menu.url }}">{{ menu.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>  
</nav>