<ul class="level1">
{% for menu in site.data.menu.level1 %}
	{% if menu.publish != false %}
	<li>
		<a href="{{site.baseurl}}{{menu.url}}">{{menu.title}}</a>
		{% if menu.level2.size > 0  or menu.class == 'workshop' or menu.class == 'nieuws' %}
		<ul class="level2">
			{% for submenu in menu.level2 %}
			{% if submenu.publish != false %}
			<li>
				<a href="{{menu.url}}{{submenu.url}}">{{submenu.title}}</a>
				<ul class="level3">
				{% for post in site.tags[{{submenu.class}}] %}
				{% if post.publish != false %}
				<li {% if page.url == post.url %}class="active"{% endif %}><a href="{{post.url}}" title="ga naar {{post.title}}">{{post.title}}</a></li>
				{%endif%}
				{% endfor %}
				</ul>
			</li>
			{% endif %}
			{% endfor %}
			{% if menu.class == 'workshop' %}
			{% for post in site.tags['workshop'] %}
			{% if post.publish != false %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
			{% endif %}
			{% endfor %}
			{% endif %}
			{% if menu.class == 'nieuws' %}
			{% for post in site.tags['nieuws'] %}
			{% if post.publish != false %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
			{% endif %}
			{% endfor %}
			{% endif %}
		</ul>
		{% endif %}
	</li>
	{% endif %}
{% endfor %}	
</ul>