{% assign page_active = page.title | downcase | replace: ' ', '-' %}
{% assign page_parent = page.parent | downcase | replace: ' ', '-' %}
{% assign parent = page.parent %}
<ul class="nav nav-pills nav-stacked">
{% for menu in site.data.menu.level1 %}
	{% assign menu_active = menu.title | downcase | replace: ' ', '-' %}
	{% if page_active == menu_active or page_parent == menu_active %}
	{% if menu.publish != false %}
	<li {% if page_active == menu_active %}class="active"{% endif %}><a href="{{menu.url}}" title="ga naar {{menu.title}}">{{menu.title}}</a></li>{% endif %}
		<ul class="nav nav-pills nav-stacked">
	{% for submenu in menu.level2 %}{% if submenu.publish != false %}
		{% assign submenu_active = submenu.title | downcase | replace: ' ', '-' %}
		<li {% if page_active == submenu_active %}class="active"{% endif %}><a href="{{menu.url}}{{submenu.url}}" title="ga naar {{submenu.title}}">{{submenu.title}}</a></li>
		<ul class="nav nav-pills nav-stacked">
		{% for post in site.tags[{{submenu.class}}] %}
		{% if post.publish != false and post.parent == menu.class %}
		<li {% if page.url == post.url %}class="active"{% endif %}><a href="{{post.url}}" title="ga naar {{post.title}}">{{post.title}}</a></li>{%endif%}{% endfor %}
		</ul>
		{% endif %}
	{% endfor %}
		</ul>
	{% endif %}
{% endfor %}
</ul>