---
layout: default
---
{% assign page_active = page.title | downcase | replace: ' ', '-' %}
{% include breadcrumb.html %}
{% if page.banner %}
<section class="container-fluid banner"><div class="display" style="background-image: url('/assets/img/banners/{{page.banner}}')"></div></section>
{% endif %}
{% if page_active == 'wie-we-zijn' %}
<section class="container-fluid {{page.class}}">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 menu-sidebar">
				{% include submenu.html %}
			</div>
			<div class="col-sm-9 content team">
				<div class="row">
					{% for post in site.tags['team'] %}
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="content-wrapper">
							<img src="/assets/img/portraits/{{ post.title | replace: ' ', '-' }}.jpg" alt="portret van {{post.title}}" class="img-rounded">
							<h3>{{post.title}}</h3>
							{{post.excerpt}}
							<a href="#" data-toggle="modal" data-target="#{{post.permalink}}" class="btn btn-primary">lees verder</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% include medewerkers-modal.html %}
{% else %}
<section class="container-fluid {{page.class}}">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 menu-sidebar">
				{% include submenu.html %}
				{% if page.class == 'nieuws' %}
				{% include submenu-nieuws.html %}
				{% endif %}
				{% if page.class == 'workshop' %}
				{% include submenu-workshops.html %}
				{% endif %}
			</div>
			<div class="col-sm-9 content">
				<h1 class="pageTitle">{{page.title}}</h1>
				{{ content }}
				{% if page.class == 'nieuws' %}
				<div class="share">
					<div id="shareme"></div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endif %}
{% if page.class == 'thema' %}
{% include home-themas.html %}
{% endif %}